::before,
::after,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(64, 135, 222);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
